.article-style a {
  color:darkgreen !important;
  border-bottom: dotted 1px darkolivegreen;
}
.article-style a:hover {
  color:darkgreen !important;
  background-color: yellowgreen;
  border-bottom: solid 2px red;
}
.view-showcase a:hover  {
  color:darkgreen !important;
  background-color: yellowgreen;
  border-bottom: dotted 2px darkolivegreen;
}