/* custom scss file */
// highlight-coloring

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 110%;
  width: 105%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.highlight-blue:before {
  background: #30C5FF88;
}

.highlight-yellow:before {
  background: #FFDC7488;
}

.highlight-green:before {
  background: #E2EC9688;
}

.highlight-fushia:before {
  background: #E0AACC88;
}

/* https://getbootstrap.com/docs/4.6/getting-started/theming/#color-contrast */
/* https://stackoverflow.com/questions/25536103/background-opacity-no-rgba-for-sass#:~:text=You%20can%20use%20Sass%20functions%20to%20add%20transparency,for%20manipulating%20colors%2C%20strings%2C%20numbers%2C%20selectors%2C%20and%20more. */

.highlight-purple:before {
  background: rgba($purple, 0.25);
}

.highlight-indigo:before {
  background: rgba($indigo, 0.25);
}

.highlight-pink:before {
  background: rgba($pink, 0.25);
}

.highlight-red:before {
  background: rgba($red, 0.25);
}

.highlight-orange:before {
  background: rgba($orange, 0.25);
}

.highlight-teal:before {
  background: rgba($teal, 0.25);
}

.highlight-cyan:before {
  background: rgba($cyan, 0.25);
}

/* Import bootstrap-sass so that we have access to all of its selectors */
/* @import "bootstrap";*/

.navbar-brand-mobile-wrapper {
    @extend .align-self-center;
}

#navbar-main > div{
	@extend align-items-center;
    @extend .align-self-center;
}

.container-xl  {
	@extend align-items-center;
}