// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// .navbar-brand {
//   pointer-events: none;
// }

.navbar-brand:before {
    content: '';
    background: url(/media/icon.png);
    background-size: cover;
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: -42px;
}


// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

img[alt=drawing] { width: 200px; }


// containcer more compact
.container { padding: 6px !important;}

.home-section  { padding: 24px 0 !important;}

// highlight-coloring

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 110%;
  width: 105%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.highlight-blue:before {
  background: #30C5FF88;
}

.highlight-yellow:before {
  background: #FFDC7488;
}

.highlight-green:before {
  background: #E2EC9688;
}

.highlight-fushia:before {
  background: #E0AACC88;
}

