// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

img {
  margin: auto;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

img[alt=drawing] { width: 200px; }


// containcer more compact
.container { padding: 6px !important;}

.home-section  { padding: 24px 0 !important;}


footer > p:nth-child(3) { display: none; }