// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

img {
  margin: auto;
}

 .navbar-brand {
   padding: 0 0 0 48px 
//   pointer-events: none;
}

.navbar-brand:before {
    content: '';
    background: url(/media/icon_huec25de6c951f338ef58dfca9863000ae_10230_b1b71cc92ce3ec65545b11de3ebd8790.webp);
    background-size: cover;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: -5px -48px auto;
}


// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

img[alt=drawing] { width: 200px; }


// containcer more compact
.container { padding: 6px !important;}

.home-section  { padding: 24px 0 !important;}


footer > p:nth-child(3) { display: none; }