html {
    --pst-font-size-base: 14px !important;
    // Header height will impact the top offset for many sections
    // Article header is 66% of Header
    //--pst-font-size-h1: 28px;
    --pst-font-size-h1: 1.75rem;
    //--pst-font-size-h2: 24px;
    --pst-font-size-h2: 1.5rem;
    //--pst-font-size-h3: 20px;
    --pst-font-size-h3: 1.25rem;
    --pst-header-height: 4rem;
    --pst-header-article-height: calc(var(--pst-header-height) * 2 / 3);
    --pst-sidebar-primary: 12rem;
    --pst-sidebar-secondary: 18rem;
}

.bd-sidebar-primary {
  overflow-y: auto;
}

/* make left sidebar invisible
.bd-sidebar-primary {
  width: 12rem;
} */
